body {
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    color: #eee;
    background-color: #222;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #fffefa;
        color: #333;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-style: italic;
    padding: 1em 0;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 150%;
}

p {
    padding-bottom: 2em;
}

p.abstract {
    font-style: italic;
    padding: 1em;
}

header {
    min-height: 2em;
    grid-column: 1 / 4;
}

.left-sidebar {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 3;
    padding: 0 2em;
}

main * {
    max-width: 35em;
}

.right-sidebar {
    grid-column: 3 / 4;
}

footer {
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}